.landingPageController {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#profilePicture{
    width: 30vw;
}

#predescription {
    font-size: 3vw;
    color: #80ddff;
}

#description {
    font-size: 6vw;
    
}

#detailContainer {
    position: absolute;
    top:50%;
    right:33%;
    transform: translate(0,-50%);
    width: 50vw;
    font-family: 'VT323', monospace;
    z-index: 1;
}

#pictureContainer {
    position: absolute;
    top:50%;
    right:15%;
    transform: translate(0, -50%) scale(150%);
    font-family: 'VT323', monospace;
    z-index: 1;
}

#blob {
    width:180px;
    height:180px;
}

#picture {
    height:150px;
    width:150px;
    transform: translate(20px, 50px);
}
  
#pictureContainer path {
    fill: #80ddff;
    transform: translate(100px, 100px);
}
